/*

╔═════════════════════════════════╗
║      Menu de navigation         ║
╚═════════════════════════════════╝

*/

nav {
	height: 83px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 20;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	background-color: white;
}

nav a {
	border-top: 3px solid white;
	text-decoration: none;

	line-height: 80px;
	font-weight: 600;
}

nav a:hover {
	border-top: 3px solid #339bc4;
}

#btnAcceuil {
	border-top: 3px solid red;

	color: black;
}

#menuGauche {
	width: 200px;
	display: flex;
	justify-content: center;

	height: inherit;

}

#menuGauche img {
	width: 250px;
	margin: auto;
	padding: 10px;
}

#menuDroite {

	width: 350px;
	height: inherit;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
