/*
 _____  _____   ____       _ ______ _______ _____ 
|  __ \|  __ \ / __ \     | |  ____|__   __/ ____|
| |__) | |__) | |  | |    | | |__     | | | (___  
|  ___/|  _  /| |  | |_   | |  __|    | |  \___ \ 
| |    | | \ \| |__| | |__| | |____   | |  ____) |
|_|    |_|  \_\\____/ \____/|______|  |_| |_____/ 
*/

#portfolio {
	background-color: #e5e5e5;
}

#portfolio h2 {
	padding-top: 10px;
}

label.btn-all-works {
	border-radius: 3px 0 0 3px;
}

label.btn-portfolio {
	border-radius: 0 3px 3px 0;
}

/* Transforme les labels des inputs en boutons */

label.btn-all-works,
label.btn-creative,
label.btn-corporate,
label.btn-portfolio {
	width: 80px;
	margin: 0 -2px 40px -2px;
	padding: 15px;
	position: relative;
	display: inline-flex;
	justify-content: center;
	font-weight: 600;
	background-color: #c4c4c4;
	color: #565656;
	cursor: pointer;

}

/* Affiche les labels actifs en bleu */

.btn-all-works:checked ~ label.btn-all-works,
.btn-creative:checked ~ label.btn-creative,
.btn-corporate:checked ~ label.btn-corporate,
.btn-portfolio:checked ~ label.btn-portfolio {
	background-color: #5babd4;
	color: white;
	box-shadow: 0 -3px #71A0CC inset;
}

/* Création du triangle sous le bouton */

.btn-all-works:checked ~ label.btn-all-works:after,
.btn-creative:checked ~ label.btn-creative:after,
.btn-corporate:checked ~ label.btn-corporate:after,
.btn-portfolio:checked ~ label.btn-portfolio:after {
	content: "";
	display: block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #71A0CC;
	position: absolute;
	top: 100%;
	right: 37%;
}


#portfolio-images div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#portfolio-images div img {
	width: 250px;
}

#portfolio-images figure {
	margin: 5px;
	position: relative;
	z-index: 5;
	cursor: pointer;
	opacity: 1;
	transition: all 3s;
}


#portfolio-images figcaption {
	width: 100%;
	position: absolute;
	bottom: 5px;
	z-index: -1;
	background-color: rgba(58, 58, 58, .7);
}


.fa-eye {
	background-color: #5babd4;
	padding: 5px;
	position: absolute;
	top: -14px;
	right: 10px;
	border-radius: 50%;
	border: 2px solid white;
	color: #fff;
}

#portfolio-images figcaption h3,
#portfolio-images figcaption p {
	margin: 5px;
	padding: 0;
	color: white;
	text-align: left;

}

/* Remonte la légende lors du survol de l'image pour qu'elle soit visible */

#portfolio-images figure:hover figcaption {
	z-index: 10;
}
