/* 
 _____  ______  _____ _____   ____  _   _  _____ _______      ________ 
|  __ \|  ____|/ ____|  __ \ / __ \| \ | |/ ____|_   _\ \    / /  ____|
| |__) | |__  | (___ | |__) | |  | |  \| | (___   | |  \ \  / /| |__   
|  _  /|  __|  \___ \|  ___/| |  | | . ` |\___ \  | |   \ \/ / |  __|  
| | \ \| |____ ____) | |    | |__| | |\  |____) |_| |_   \  /  | |____ 
|_|  \_\______|_____/|_|     \____/|_| \_|_____/|_____|   \/   |______|                       
*/

/* Regles valables uniquement pour les portables*/

@media all and (max-width: 625px) {

	/* Projets */
	/* Remonte les légendes des images du portfolio pour qu'elles soint plus visibles sur portable*/
	#portfolio-images figure figcaption {
		z-index: 10;
	}
}

/* Regles pour les tablettes et les portables */

@media all and (max-width: 768px) {

	/* header */
	/* Création du menu hamburger */
	nav label,
	nav input {
		display: block;
	}

	nav ul {
		display: none;
	}

	input.navicon:checked ~ ul {
		display: block;
		top: 100%;
		left: 0;
		width: 100%;
		position: absolute;
	}

	nav ul li {
		float: none;
	}

	#slider {
		margin-top: 100px;
	}

	#slider-texte p {
		font-size: 1.8vw;
	}

	/* Contact */
	/* section contact: déplace la carte en dessous du formulaire afin qu'elle reste visible */
	
	#notre-adresse {
		position: static;
	}

	#notre-adresse div {
		width: 80%;
		margin: auto;
	}
	iframe {
		margin-top: 40px;
		position: static;
	}
}

/* Les images du porfolio étant contenues dans 2 div afin de toujours avoir des lignes de 4, ce règle force l'affichage des images du porfolio sur 2 colonnes afin de ne pas avoir 3 icones sur la même ligne et une toute seule */

@media all and (max-width: 1060px) {
	#portfolio-images div {
		display: inline-block;
	}
}
