@media all and (max-width: 640px) {
	#menuGauche {
		padding: 0;
		height: 40px;
	}
	#menuGauche img {
		width: 180px;
		padding: 0;

	}

	#menuDroite {
		width: 100%;
	}

	#menuDroite a {
		padding: 10px 0;
		line-height: normal;
	}
}
