/*
  _____ ______ _______      _______ _____ ______  _____ 
 / ____|  ____|  __ \ \    / /_   _/ ____|  ____|/ ____|
| (___ | |__  | |__) \ \  / /  | || |    | |__  | (___  
 \___ \|  __| |  _  / \ \/ /   | || |    |  __|  \___ \ 
 ____) | |____| | \ \  \  /   _| || |____| |____ ____) |
|_____/|______|_|  \_\  \/   |_____\_____|______|_____/ 
*/

#nos-services {
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
}

#services-gauche img {
	width: 100%;
}

#services-droite {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.icones-services {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.texte-services {
	width: 85%;
}

.texte-services h3 {
	margin: 20px 10px 0 10px;
	padding: 0;
}

.texte-services p {
	margin: 10px 10px 20px 10px;
	padding: 0;
	text-align: justify;
}

.icones-dans-cercle {
	width: 70px;
	height: 70px;
	margin: 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #c4c4c4;
	border-radius: 50%;
}

.icones-dans-cercle i:last-of-type {
	position: absolute;
	right: -8px;
	background-color: #fff;
}
