/*

╔═════════════════════════════════╗
║        Nos services             ║
╚═════════════════════════════════╝

*/

#services {
	margin-top: 60px;
}

#introServices {
	text-align: center;
}

#introServices p {
	margin: 10px;

	color: #565656;
}

#services h2 {
	margin: 10px;
	font-size: 30px;
	text-transform: uppercase;
}

#nosServices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#servicesGauche {
	width: 500px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}

#servicesGauche img {
	width: 100%;
}

#servicesDroite {
	width: 500px;
	height: 450px;
	padding: 0 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#servicesDroite p {
	text-align: justify;
	color: #565656;
}

#ux,
#ui,
#seo {}

.iconesServices {
	width: 70px;
	height: 70px;
	margin: 30px 40px;
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #c4c4c4;
	border-radius: 50%;
}



.iconesServices i:last-of-type {
	position: absolute;
	right: -8px;
	background-color: white;
}
