
/*

╔═════════════════════════════════╗
║        Nos services             ║
╚═════════════════════════════════╝

*/

#services h2 {
	text-transform: uppercase;
}


#servicesGauche {
	float: left;
	width: 500px;
	height: 500px;
}

#servicesDroite {
	padding-top: 50px;
	width: 100%;
	height: 450px;
}

#servicesDroite i {
	float: left;
	padding: 5px;
	margin: 10px;
}

