/*

╔═════════════════════════════════╗
║          Général                ║
╚═════════════════════════════════╝
text navtruc au dessus
enlever decalage lors du click sur lien surtout acceuil 
pk photo hamburger et autres dossiers?


fleche vers bas on selected
legende sur image portfolio
lien google map

grisclair #c4c4c4
gris f #565656
bleu #339bc4
*/

@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');
}

body {
	position: relative;
	margin: auto;
	padding: 0;
	font-family: 'Roboto-Medium', sans-serif;
}

h1,
h2 {
	font-family: 'Roboto-Black', sans-serif;

}

p {
	padding: 10px;
}

a {
	text-decoration: none;
	color: #fff;
}

section p,
nav a {
	color: #565656;
}

/* Décale le contenu de la page vers bas, afin de pas masquer le contenu caché par le menu*/

main {

	margin-top: 100px;
}

section {}

/*Décale la clible des liens vers le bas, afin de pas masquer le contenu caché par le menu*/

section:target {
	padding-top: 83px;
}


.bleu {
	color: #339bc4;
}

button {
	background-color: #339bc4;
	padding: 10px;
	color: white;
}

button:hover,
label:hover {
	box-shadow: 2px 2px 8px rgba(58, 58, 58, .7), -2px -2px 8px rgba(58, 58, 58, .7);

}

.rondBarre {
	height: 20px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rondBarre span {
	height: 1px;
	width: 50px;
	background-color: #c4c4c4;
}

.rondBarre i {
	display: flex;
	text-align: center;
}


.cache {
                             	display: none;
}
