/*

╔═════════════════════════════════╗
║          Général                ║
╚═════════════════════════════════╝
text navtruc au dessus
enlever decalage lors du click sur lien
pk photo hamburger et autres dossiers?


fleche vers bas on selected
legende sur image portfolio
lien google map
*/


@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'Roboto-Medium', sans-serif;
}

h1,
h2 {
	font-family: 'Roboto-Black', sans-serif;
}

/* Décale le contenu de la page vers bas, afin de pas masquer le contenu caché par le menu*/

main {

	margin-top: 100px;
}

/*Décale la clible des liens vers le bas, afin de pas masquer le contenu caché par le menu*/

section:target {
	padding-top: 83px;
}


.bleu {
	color: #339bc4;
}

button {
	background-color: #339bc4;
	color: white;
}

button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rondBarre {
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rondBarre span {
	background-color: #c4c4c4;
	height: 1px;
	width: 50px;
}

.rondBarre i {
	display: flex;
	text-align: center;
}
