/*

╔═════════════════════════════════╗
║          Général                ║
╚═════════════════════════════════╝
text navtruc au dessus

coller bouton portfolio
fleche vers bas on selected
legende sur image portfolio
icones services dans cerle
lien google map
*/

@font-face {
	font-family: 'fontawesome-webfont';
	src: url('../fonts/fontawesome-webfont.ttf');
	src: url('../fonts/fontawesome-webfont.eot') format('eot'),
	url('../fonts/fontawesome-webfont.woff') format('woff'),
	url('../fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../fonts/fontawesome-webfont.svg') format('svg');
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'fontawesome-webfont', sans-serif;
}

main {
	position: absolute;
	top: 180px;
}

#main {}

/*Décale la clible des liens vers le bas, afin de pas masquer le contenu*/

section:target {
	padding-top: 83px;
	margin-top: -83px;
}



.bleu {
	color: #339bc4;
}

button {
	background-color: #339bc4;
	color: white;
}

button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
